.right-section{
    background-color: aqua;
    width: 76%;
}
.right-section h1{
    font-size: 60px;
}
.todoitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 5px;
    justify-content: space-between;
}

.rightsecright, .leftsectionleft{
    display: flex;
    flex-direction: row;
    align-items: center;
}